doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='Template Agency Business', content='Template Agency Business')
    meta(name='Jem Worth', content= "Jem Worth")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title Template Business Website
    link(href='./css/bootstrap.css', rel='stylesheet', type='text/css')
    script(src='./js/jquery.min.js')
    link(href='./css/style.css', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,800', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='./js/move-top.js')
    script(type='text/javascript', src='./js/easing.js')
    != css()
    .header
      .container
        .header_top
          ul.header_box
            li.mobile_left
              i.mobile  
              span 1-200-346-2986
            li.message
              a(href='#')
                i.msg  
                span info@yourcompany.com
            .clearfix  
          ul.facebook
            li.fb
              a(href='#')
                span  
          .clearfix  
    .header_bottom
      .container
        .logo
          a(href='index.html')
            img(src='./img/logo.png', alt='')
        .consul_btn1
          a(href='#') Free Consultation
        .menu
          .h_menu4
            // start h_menu4
            a.toggleMenu(href='#') Menu
            .nav_icon
              img(src='./img/nav_icon.png', alt='')
            ul.nav
              li.active
                a.scroll(href='#home') Home
              li
                a.scroll(href='#about') About Us
                ul
              li
                a.scroll(href='#app') Our Approach
                ul
              li
                a.scroll(href='#work') Our Work
            script(type='text/javascript', src='./js/nav.js')
          .consul_btn
            a(href='#') Free Consultation
          .clearfix  
